i
{
    color:green;
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    visibility: hidden;
    
}
small
{
    margin-left: 200px;
    visibility: hidden;
}



.formControl.success input
{
    border: 2px solid #00C301;
}
.formControl.success i.fa-circle-check
{
    color:#00C301;
    visibility: visible;
}



.formControl.error input
{
    border: 2px solid #e74c3c;
}
.formControl.error i.fa-circle-exclamation
{
    color:#e74c3c;
    visibility: visible;
}
.formControl.error small
{
    color:#e74c3c;
    visibility: visible;
}


.page
{
    margin-top: 2%;
    margin-left: 18%;
}
#header
{
    font-size: 30px;
    font-weight: bold;
    margin-left: 35%;
    margin-bottom: 40px;
}

#select
{
    color: black;
    border-radius: 5px;
    margin-left: 10%;
    margin-bottom: 10px;
    padding: 5px;
    width: 51%;
    background-color: #d8bbf0;
}
input
{ 
    color: black;
    border-radius: 5px;
    margin-left: 10%;
    margin-bottom: 5px;
    padding: 5px;
    width: 50%;
    background-color: #d8bbf0;
}
label
{
    display: inline-block;
    width: 80px;
    font-weight: bold;
}
#submitButton
{
    color:white;
    font-family: "Arial";
    border-radius: 10px;
    font-size: 15px;
    padding: 8px;
    margin-right: 5px;
    background: #1e9628;
}
#submitButton:hover
{
    background-color: #00C301;
}
#submitButton:disabled
{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
#resetButton
{
    color:white;
    font-family: "Arial";
    border-radius: 10px;
    font-size: 15px;
    padding: 8px;
    margin-right: 5px;
    background: #c20a16;
}
#resetButton:hover
{
    background-color: #e74c3c;
}
#bt
{
    margin-top: 2%;
    margin-left: 56%;
}

#newpage
{
    margin-top: 30px;
    margin-left: 66%;
    color: rgb(62, 100, 116);
}
#newpage:hover
{
    color: black;
    
    background: rgb(212, 206, 206);
    border-radius: 5px;
    text-decoration: none;
    font: bold;
}
form
{
    padding: 10px;
}
.formControl
{
    margin-bottom: 5px; 
}



@media (max-width:62em)
{
    .page
    {
        margin: 0;
    }
    #header
    {
        font-size: 40px;
        margin: 0;
    }
    input
    {
        margin: 0;
        width: 75%;
    }
    #select
    {
        margin:0;
        width: 77%;
    }
    #lab
    {
        width: 80px;
    }
    #bt
    {
        margin-top: 40px;
        margin-left: 0;
    }
    #submitButton
    {
        margin:0;
        width: 100%;
    }
    #resetButton
    {
        margin:0;
        width: 100%;
    }
    #newpage
    {
        margin:auto;
    }   
    form
    {
        width: 100%;
    }

    small
    {
        margin-left: 85PX;
        visibility: hidden;
    }

}

